html, body, .full-height {
	height: 100%;
}

body {
	/* TODO: Use correct padding from menu on smaller scale screens. */
	padding-top: 60px;
}

nav {
	padding: 5px;
}

#logo, #logo:link, #logo:visited, #logo:hover, #logo:active {
	color: black;
	text-decoration: none;
	font-size: 175%;
}

.logo-border {
	border: thin solid #204d8f;
	border-radius: 10%;
	background-color: #204d8f;
	color: white;
}

.content {
	background-color: #204d8f;
	color: white;
	overflow: auto;
}

.content button {
	color: ButtonText;
}
