.user-menu {
	padding-top: 5px;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-direction: column;
}

.bottom-border {
	border-bottom: thin solid white;
}

.info-row {
	padding-left: 5%;
}
