.content {
	padding-top: 10px;
}

#toggle-buttons {
	margin-bottom: 10px;
}

.selected {
	background-color: #1e3e99;
}

.message-from {
	max-width: 50%;
}

.message-to {
	max-width: 50%;
	margin-left: 50%;
	text-align: right;
}
